@import "../_all-globals";

.button {
  border: none;
  border-top: 3px solid $call-to-action;
  border-left: 3px solid $call-to-action;
  font-size: em($button-font-size);
  font-weight: $font-weight--ultra-bold;
  position: relative;
  text-transform: uppercase;

  &:before {
    background-color: $button-border-bottom;
    content: "";
    height: 9px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &:after {
    background-color: $button-border-right;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 9px;
  }

  &:focus {
    outline: 0;
  }
}

.blue-button {
  background-color: $call-to-action;
  color: $white;
  height: em(70px, $button-font-size);
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: em(175px, $button-font-size);

  &:hover {
    background-color: transparent;
    color: $call-to-action;

    a  {
      color: $call-to-action;
    }
  }

  a {
    color: $white;
    display: block;
    height: 100%;
    line-height: em(60px, $button-font-size);
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
}

.inverted-button {
  background-color: transparent;
  color: $call-to-action;
  height: em(70px, $button-font-size);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: em(175px, $button-font-size);

  &:hover {
    background-color: $call-to-action;
    color: $white;
  }
}