@import "../_all-globals";

//** PRIMARY HEADER STYLING **//

#primary-header {
  border-top: 9px solid $black;
  box-shadow: 2px 0px 2px 2px $light-grey;
  height: em(97px);

  .main-logo{
    height: em(88px);

    &:after {
      border-right: 1px solid $light-grey;
      content : "";
      height: 50%;
      position: absolute;
      right: 0;
      top: 25%;
    }

  }

  .unep-wcmc-header-logo {
    height: em(88px);
  }

  nav {
    > ul > li > a, > ul > li > span {
      display: block;
      padding: em(43px, $content-font-size) em(20px, $content-font-size) em(34px, $content-font-size);
    }
  }
}

//** SECONDARY HEADER STYLING **//

#secondary-header {
  background-color: $white;
  border-top: 9px solid $black;
  box-shadow: 2px 0px 2px 2px $light-grey;
  height: em(67px);
  left: 0;
  position: fixed;
  top: -140px;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: $z-index-layer--first;

  &.active {
    top: 0;
  }

  .main-logo {
    background-color: $white;
    background-position: center;
    background-size: 80%;
    float: left;
    height: em(58px);

    &:after {
      border-right: 1px solid $light-grey;
      content : "";
      height: 50%;
      position: absolute;
      right: 0;
      top: 25%;
    }
  }

  .unep-wcmc-header-logo {
    background-color: $white;
    background-position: center;
    background-size: 70%;
    height: em(58px);
  }

  .mobile-nav-trigger button {
    background: black;
    padding-bottom: 17px;
    padding-top: 17px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav > ul > li > a, nav > ul > li > span {
    display: block;
    padding: em(25px, $content-font-size) em(20px, $content-font-size) em(20px, $content-font-size);
  }

}

//** HEADER LOGOS **//
.main-logo {
  @include header-logo($width: 185px, $image: "proteus-logo", $padding: 0);

  @include breakpoint($max-main-container) {
    margin-left: 25px;
  }

  @include breakpoint($max-large-mobile-landscape) {
    background-position: center center;
    background-size: 90%;
    margin-left: 0;
    padding-right: 10px;
    width: 130px;
  }
} 

.unep-wcmc-header-logo {
  background: image-url("https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg") no-repeat center left;
  background-size: 100%;
  margin-left: 12px;
  padding: 0;
  width: 115px;
  
  display: inline-block;
  position: relative;
}

//** GENERAL NAVIGATION STYLING **//
#primary-header, #secondary-header {

  .primary-nav {
    float: right;
    font-size: em($content-font-size);
    text-transform: uppercase;

    @include breakpoint($max-main-container) {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      
      li {
        display: inline-block;
        margin: -9px 0 0;
        position: relative;
        transition: background-color 0.5s ease-in-out;

        &:last-child {
          margin-right: em(-20px, $content-font-size);
        }

        &:hover {
          background-color: $call-to-action;
          color: white;
        }

        a {
          color: inherit;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

//** NAVIGATION DROPDOWN STYLING **//
#primary-header, #secondary-header {
  .primary-nav {
    ul {
      ul {
        right: 0;
        max-height: 0;
        overflow: hidden;
        padding-left: 0;
        position: absolute;
        top: 95%;
        z-index: $z-index-layer--first;

        li {
          background-color: $call-to-action;
          box-sizing: border-box;
          color: $white;
          margin: 0;
          text-transform: uppercase;
          width: 200px;

          &:hover {
            background-color: $white;
            border: 1px solid $call-to-action;
            color: $call-to-action;
            max-height: 999px;
          }

          a {
            color: inherit;
            display: block;
            padding: 10px 20px;
            text-decoration: none;

            &:hover {
              padding: 9px 19px; // reduce padding to stop element size increasing when border added
            }
          }
        }
      }
    }

    ul li:hover ul {
      max-height: 999px;
      overflow: initial;
    }
  } 
}

//** MOBILE NAV TRIGGER **//
.mobile-nav-trigger {
  display: none;

  @include breakpoint($max-main-container) {
    display: block;
    float: right;
    margin-right: $element-margin--regular;
  }

  @include breakpoint($max-large-mobile-landscape) {
    margin-right: 0;
  }

  button {
    background: $dark-header;
    color: white;
    border: none;
    outline: none;
    padding: $element-margin--thin;
  }
}

//** MOBILE NAV **//
#mobile-nav {
  display: none;
  left: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 97px;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 999;
  
  @include breakpoint($max-main-container) {
    display: block;
  }

  &.active {
    max-height: 700px;
  }

  &.secondary {
    position: fixed;
    top: 67px;
  }

  nav {
    display: block;

    > ul {
      margin: 0;
      padding: 0;

      ul {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        &.active {
          border-top: 1px solid white;
          max-height: 700px;
        }

        li:last-child {
          border-bottom: none;
        }
      }
    }

    li {
      background: $dark-header;
      border-bottom: 1px solid white;
      color: white;
      list-style: none;

      a, .hasDropDown {
        display: block;
        padding: 10px $element-padding--regular;
      }

      a {
        color: white;
        text-decoration: none;
      }

      .hasDropDown {
        cursor: default;
        position: relative;

        &:after {
          content: "+";
          display: block;
          margin-top: -12px;
          position: absolute;
          right: $element-padding--regular;
          top: 50%;
        }

        &.active:after {
          content: "-"
        }

        @include breakpoint($max-large-mobile) {
          font-size: em(19px);
        }
      }
    }
  }
}