@import "../_all-globals";

//** SIGN IN PAGE **//

#password-protect-bg {
  background-color: rgba($white, 0.7);
  height: 150vh; 
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
  z-index: $z-index-layer--fourth;
}

.password-protect-wrapper {
  background: image-url("resources-graphic.svg") no-repeat;
  background-size: 40%;
  background-position: em(-195px) em(230px);
  padding: $element-padding--ultra-thick 0 $element-padding--ultra-thick*2;

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    background-image: none;
  }
}

#sign-in {
  background-color: $dark-header;
  color: $white;
  margin: 0 auto;
  padding: em($element-padding--ultra-thick) em($element-padding--thick) em($element-padding--thick);
  position: relative;
  width: 60%;
  z-index: $z-index-layer--third;

  #padlock-icon {
    background: image-url("password-lock-icon.svg") no-repeat center center;
    background-size: em(30px);
    height: em(50px);
    left: em(25px);
    position: absolute;
    top: em(25px);
    width: em(50px);
  }

  .back-button {
    color: $white;
    cursor: pointer;
    font-size: $button-font-size;
    font-weight: $font-weight--ultra-bold;
    position: absolute;
    right: em(50px);
    text-transform: uppercase;
    top: em(30px);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $call-to-action
    }
  }

  h2 {
    text-align: center;
  }

  p.notice, p.alert {
    text-align: center;
    color: red;
  }

  form {
    text-align: center;
  
    .text-input {
      border: none;
      margin: 0 auto;
      padding: 0 0 em($element-padding--thin) em($element-padding--thick);
      position: relative;
      text-align: left;
      width: 75%;

      label {

      }

      input {
        color: $black;
        font-size: em($h3-font-size);
        height: em(45px, $h3-font-size);
        width: 90%;
      }
    }

    .forgot-password {
      color: $call-to-action;
    }

    p {
      font-weight: $font-weight--utlra-thin;
      padding: em($element-padding--thin) 0;
    }

    a {
      color: $call-to-action;
    }

    .submit-input {
      background-color: $call-to-action;
      height: 70px;
      margin: 0 auto;
      padding: 0;
      transition: all 0.3s ease-in-out;
      width: 175px;

      &:hover {
        background-color: transparent;
        color: $call-to-action;
      }

      input[type="submit"] {
        background-color: $call-to-action;
        border: none;
        color: $white;
        padding: 25px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        width: 100%;

        &:hover {
          background-color: transparent;
          color: $call-to-action;
        }
      }
    }
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    width: 90%;
  }

  @include breakpoint($max-tablet) {

    form {
      .text-input {
        width: 100%;
      }
    } 
  }

  @include breakpoint($max-large-mobile) {
    width: 100%;
  }
}