@import "../_all-globals";

dd p a {
   display: inline !important;
 }

//** WRAPPER FOR BG IMAGE **//

.resources-index-wrapper {
  background: image-url("resources-graphic.svg") no-repeat;
  background-size: 40%;
  background-position: em(-130px) em(530px);

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    background-size: 50%;
    background-position: em(-200px) em(830px);
  }

  @include breakpoint($max-large-mobile-landscape) {
    background: none;
  }
}

//** GENERAL PAGE STYLING **//

#resources-index {
  padding: em($element-padding--regular) 0 em($element-padding--ultra-thick);

  .mobile-h1 {
    display: none;
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    .mobile-h1 {
      display: inline-block;
      padding: em($element-padding--thin, $h1-font-size);
      width: 100%;
    }
  }
}

//** CATEGORIES SIDEBAR **//

#categories-sidebar {
  @include span(3.5);

  .category-links {
    border: 3px solid $categories-sidebar-border;

    h2 {
      background-color: $categories-sidebar-border;
      color: $white;
      margin: 0;
      padding: em(15px, $h2-font-size) em(20px, $h2-font-size);
    }

    .category-link {
      color: inherit;
      font-weight: $font-weight--medium;
      display: block;
      margin: 0px 15px;
      padding: em(8px) em(5px);
      text-decoration: none;

      &:hover {
        background-color: $categories-sidebar-border;
        color: $white;
      }

      &:first-of-type {
        margin-top: em(15px);
      }

      &:last-of-type {
        margin-bottom: em(15px);
      }
    }
  }

  .sidebar-search-input {
    h2 {
      background-color: $lighter-grey;
      height: em(68px, $h2-font-size);
      margin: em(20px, $h2-font-size) 0 em(10px, $h2-font-size) 0;
      padding: em(16px, $h2-font-size) em(20px, $h2-font-size);
    }

    form {
      background-color: $lighter-grey;
      height: em(72px);
      padding: em(18px, $h2-font-size) em(20px, $h2-font-size);

      input[type="text"] {
        @include span(9.9);

        font-size: em($h2-font-size);
        height: 45px;
      }

      fieldset {
        @extend %blue-search-submit-button;

        input {
          border: none;
        }
      }
    }
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    float: none;
    margin: em($element-margin--regular) auto;
    width: 100%;

    .category-links {
      margin-bottom: em($element-margin--regular);

      .category-link {
        display: inline-block;
        width: 29%;
      }
    }

    .sidebar-search-input {
      h2 {
        float: left;
        display: inline-block;
        height: em(72px, $h2-font-size);
        margin: 0 em($element-margin--thin, $h2-font-size) 0 0;
        text-align: center;
        width: 35%;
      }

      form {
        display: inline-block;
        float: right;
        margin-top: 0px;
        width: 60%;

        input[type="text"] {
          width: 85%;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .category-links .category-link {
      width: 40%;
    }
  } // manual breakpoint for when the box breaks layout of links

  @media screen and (max-width: 830px) {
    width: 100%;

    .sidebar-search-input {
      h2 {
        float: none;
        display: block;
        margin: 0;
        width: 100%;
      }

      form {
        display: block;
        float: none;
        margin-top: 10px;
        width: 100%;
      }
    }
  } // manual breakpoint for to stack search header and input

  @include breakpoint($max-large-mobile-landscape) {

    .category-links .category-link {
      display: block;
      width: auto;
    } 
  }
}

//** RESOURCES CONTENT **//

#resources-list {
  @include span(8.5 omega);

  padding-left: em($element-padding--thick);

  .desktop-h1 {
    width: 200%;
  }

  .accordion {
    list-style: none;
    margin: em($element-margin--thick) 0px;
    padding: 0;

    .resources-list-item {
      margin: em($element-margin--thin) 0;
      padding-left: em($element-padding--thick);
      position: relative;

      h3 {
        cursor: pointer;
        line-height: 1;
        margin: 0 0 10px;

        &:before {
          @include bullet-point-bg($y-pos: -5px);
        }

        &:after {
          @include bullet-point-content;
        }

        &.shown:before {
          background: none;
          background-color: $main-bullet-bg-right;
        }

        &.shown:after {
          content:"_";
          top: -4px;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .resource-list-category-link {
        color: $categories-sidebar-border;
        font-style: italic;
        opacity: 0.7;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    dd {
      border-bottom: $section-border-styling;
      margin: 0 0 0 em($element-margin--thick);
      padding-bottom: em($element-padding--thin);

      p {
        color: $lightweight-content;
        font-weight: $font-weight--utlra-thin;
        margin: 0;
      }

      img, video {
        border: 3px solid $lighter-grey;
        margin: $element-margin--thin 0;
      }

      .embedded-video {
        margin: $element-margin--thin 0;
      }

      .document-external-link {
        color: $call-to-action;
        display: block;
        font-size: em($h3-font-size);
        margin: $element-margin--thin 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        margin: $element-margin--thin 0;

        &:hover {
          color: $call-to-action;
        }
      }
    }
  }
  
  //** PAGINATION STYLING **//

  .pagination-box {
    p {
      display: inline-block;
    }

    #per_page {
      height: 45px;
      background-color: transparent;
      border: 3px solid $call-to-action;
      display: inline-block;
      font-size: em($h3-font-size);
      margin-right: em($element-margin--thin, $h3-font-size);
    }

    form {
      display: inline-block;
    }
    
    .pagination {
      display: inline-block;

      .previous_page, .next_page {
        border: 3px solid $call-to-action;
        color: $call-to-action;
        font-size: em($base-font-size);
        font-weight: $font-weight--bold;
        margin: 0 em(10px, $h2-font-size);
        padding: 5px;

      }

      a {
        color: inherit;
        font-size: em($h3-font-size);
        padding: em(10px);
        text-decoration: none;
      }

      .current {
        background-color: $footer-banner;
        color: $white;
        font-size: em($h3-font-size);
        padding: em(5px) em(10px);
      }
    }
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    float: none;
    padding-left: 0;
    width: 100%;

    .desktop-h1 {
      display: none;
    }
  }

  @include breakpoint($max-large-mobile) {
    .pagination-box {
      p {
        margin-bottom: em(35px)
      }
    }
  }
}

//** SEARCH CONTENT **//

#search-results {
  border-bottom: 6px solid $black;
  padding: em(25px) 0;

  .search-term {
    font-size: em($h2-font-size);
    margin: 0 0 25px;
  }

  .results-found {
    color: $light-grey;
    float: right;
    font-size: em($h2-font-size);
    margin: 0;
  
    span {
      background-color: $call-to-action;
      color: $white;
      padding: em(5px, 24px);
    }
  }
}