@import "../_all-globals";

//** TOOLS IMAGE BANNER **//

#tools-banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: em(450px);
  margin-bottom: $element-margin--regular;
  padding-top: $element-padding--thick;
  position: relative;
  width: 100%;
  z-index: $z-index-layer--fourth;

  .screenshot-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: em(400px);
    margin: 0 auto;
    position: relative;
    width: 977px;

    .browser-frame {
      position: relative;
      width: 100%;
      z-index: $z-index-layer--second;

      img {
        height: 60px;
        width: 100%;
      }
      
      span {
        font-size: em(12px);
        left: 14%;
        position: absolute;
        top: em(35px, 12px);
      }
    }
  }

  h1 {
    background-color: $dark-header;
    color: $white;
    margin: 0;
    padding: em($element-padding--thin, $h1-font-size) em(75px, $h1-font-size) em($element-padding--thin, $h1-font-size) calc(((100% - 1075px)/2)/2);
    position: absolute;
    left: 0;
    top: em(250px, $h1-font-size);
  }

  @media screen and (max-width: 1400px) {
    h1 {
      padding: em($element-padding--thin, $h1-font-size) em(75px, $h1-font-size) em($element-padding--thin, $h1-font-size);
    }
  } // manual breakpoint to fix h1 padding issue when screensize gets close to container size

  @include breakpoint($max-main-container) {
    background-image: none;
    padding-top: 0;

    .screenshot-image {
      height: 100%;
      width: 100%;

      .browser-frame {
        display: none;

        span {
          display: none;
        }
      }
    }
  }
}

//** TOOLS CONTENT **//

#tools-content {
  @include span(9);

  margin-bottom: em($element-margin--thick);
  padding-right: em($element-padding--ultra-thick);

  p, span, ul {
    color: $lightweight-content;
    font-weight: $font-weight--utlra-thin;
  }

  h2 {
    color: $black;

    span {
      color: $black;
    }

    strong {
      font-weight: $font-weight--medium;
    }
  }

  a {
    color: $call-to-action;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .short-description {
    border-bottom: $section-border-styling;
    margin: 0;
    padding-bottom: em($element-padding--thin);

    p {
      color: $black;
      font-weight: $font-weight--bold;
    }
  }

  h2 {
    margin: em($element-margin--regular, $h2-font-size) 0 em($element-margin--thin, $h2-font-size);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: em(10px) 0;
      padding-left: em($element-padding--thick);
      position: relative;

      &:before {
        @include bullet-point-bg($height: 16px, $width: 16px, $y-pos: 3px, $x-pos: 20px);
      }
    }
  }
  
  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    float: none;
    margin: 0 0 em($element-padding--regular);
    padding-right: 0;
    width: 100%;
  }
}

//** COMPANY LINK BUTTON **//

.company-link {
  @include span(3 omega);

  margin-bottom: em($element-margin--thick, $button-font-size);
  text-align: center;

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    float: none;
    margin: 0 auto em($element-margin--regular, $button-font-size);
    width: em(360px);
  }
}

//** TOOLS SIDEBAR **//
#tools-sidebar {
  @include span(3 omega);

  h3 {
    background-color: $lighter-grey;
    padding: em(20px, $h3-font-size) 0 em(20px, $h3-font-size);
    margin: 0 0 5px;
    text-align: center;
  }

  .download-section {
    background-color: $lighter-grey;
    padding: em($element-padding--thin);

    p {
      font-weight: $font-weight--utlra-thin;
      margin: 0 0 em($element-margin--thin);
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .download-link {
      margin: 0 auto;
      padding: em(20px, $button-font-size);
      text-align: center;
      width: 100%;
    }
  }

  //** RESPONSIVE **//
  @include breakpoint($max-main-container) {
    float: none;
    margin: 0 auto em($element-margin--thick);
    text-align: center;
    width: 50%;
  }

  @include breakpoint($max-large-mobile-landscape) {
    width: 100%;
  }
}